@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Angular 2 QuickStart</title>
</head>

<body>
    <h1>Angular 2 and ASP.NET Core Demo - About</h1>
    My name is Spencer and here I am!
</body>

</html>