<h1>Angular 2 Katas</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
        <th>Completed</th>
        <th>Instructions</th>
    </tr>
    <tr>
        <td>1 - Components and templating</td>
        <td>Test your component and template making skills!</td>
        <td><a routerLink="/kata-one">Components and templating</a></td>
        <td><a routerLink="/kata-one-completed">View completed</a></td>
        <td>
            <a href="https://github.com/schneidenbach/Angular2-AspNetCore-TypeScript-Workshop/tree/master/src/app/katas#kata-2---components-and-templating">Instructions</a>
        </td>
    </tr>
    <tr>
        <td>2 - Pipes and styles</td>
        <td>Fancy up your views with interpolation expression-alterin' pipes and stylings.  Also a nice intro to ngModel.</td>
        <td><a routerLink="/kata-two">Pipes and Styles</a></td>
        <td><a routerLink="/kata-two-completed">View completed</a></td>
        <td>
            <a href="https://github.com/schneidenbach/Angular2-AspNetCore-TypeScript-Workshop/tree/master/src/app/katas#kata-3---altering-display-with-pipes-and-styles">Instructions</a>
        </td>
    </tr>
    <tr>
        <td>3 - Child components</td>
        <td>Create a child component.  Put properties in their place.  Subscribe to events.</td>
        <td><a routerLink="/kata-three">Child components</a></td>
        <td><a routerLink="/kata-three-completed">View completed</a></td>
        <td>
            <a href="https://github.com/schneidenbach/Angular2-AspNetCore-TypeScript-Workshop/tree/master/src/app/katas#kata-4---child-components">Instructions</a>
        </td>
    </tr>
    <tr>
        <td>4 - Services</td>
        <td>Enforce separation of concerns with data fetchin' services.</td>
        <td><a routerLink="/kata-four">Services</a></td>
        <td><a routerLink="/kata-four-completed">View completed</a></td>
        <td>
            <a href="https://github.com/schneidenbach/Angular2-AspNetCore-TypeScript-Workshop/tree/master/src/app/katas#kata-5---services">Instructions</a>
        </td>
    </tr>
    <tr>
        <td>5 - RxJS and Http</td>
        <td>Supercharge your service usin' story with the ability to make HTTP calls from Angular 2.</td>
        <td><a routerLink="/kata-five">RxJS and Http</a></td>
        <td><a routerLink="/kata-five-completed">View completed</a></td>
        <td>
            <a href="https://github.com/schneidenbach/Angular2-AspNetCore-TypeScript-Workshop/tree/master/src/app/katas#kata-6---rxjs-observables-and-http">Instructions</a>
        </td>
    </tr>
</table>
