<h3>
    Expenses Approval
</h3>
<table class="table">
    <tr>
        <th>Expense Date</th>
        <th>Description</th>
        <th>Approved By</th>
        <th>Amount</th>
        <th>Amount Reimbursable</th>
        <th>Actions</th>
    </tr>
    <tr>  <!-- TODO: iterate over and display expenses -->
        <td colspan="5">
            Remove the colspan and add some data!
        </td>
        <td>
            TODO: add reimbursement percent
        </td>
    </tr>
    <hr>

    <!-- TODO: show this when selectedExpense is selected -->
    <div>
        <!-- TODO: show expense data -->
    </div>
</table>