<h3>
    Expenses Approval
</h3>
<hr>
<table class="table">
    <tr>
        <th>Expense Date</th>
        <th>Description</th>
        <th>Approved By</th>
        <th>Amount</th>
        <th>Amount Reimbursable</th>
        <th>Reimbursement %</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let expense of expenses">
        <td>
            {{ expense.ExpenseDate }}
        </td>
        <td>
            {{ expense.Description }}
        </td>
        <td>
            {{ expense.ApprovedBy | json }}
        </td>
        <td>
            {{ expense.Amount }}
        </td>
        <td>
            {{ expense.AmountReimbursable }}
        </td>
        <td>
            {{ expense.AmountReimbursable }}
        </td>
        <td>
            <button class="btn btn-default" (click)="selectedExpense = expense">Select Expense</button>
        </td>
    </tr>
</table>
<hr>
<div *ngIf="selectedExpense">
    Amount: {{ selectedExpense.Amount }}<br>
    Approved By: {{ selectedExpense.ApprovedBy?.FirstName }} {{ selectedExpense.ApprovedBy?.LastName }}<br>
    Approval Comment: {{ selectedExpense.ApprovalComment }}
</div>