<h3>
    Expenses Approval
</h3>
<div class="row">
    <div class="col-sm-12">
        Please enter your first name: <input type="text" [(ngModel)]="firstName" /><br>
        Please enter your last name: <input type="text" [(ngModel)]="lastName" />
    </div>
</div>
<table class="table">
    <tr>
        <th>Expense Date</th>
        <th>Description</th>
        <th>Approved By</th>
        <th>Amount</th>
        <th>Amount Reimbursable</th>
        <th>Reimbursement %</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let expense of expenses" [class.warning]="!expense.ApprovedBy">
        <td>
            {{ expense.ExpenseDate | date }}
        </td>
        <td>
            {{ expense.Description }}
        </td>
        <td>
            {{ expense.ApprovedBy?.FirstName | uppercase }} {{ expense.ApprovedBy?.LastName | uppercase }}
        </td>
        <td [class.negative-amount]="expense.Amount < 0">
            {{ expense.Amount | currency:"USD":true }}
        </td>
        <td>
            {{ expense.AmountReimbursable | currency:"USD":true }}
        </td>
        <td>
            {{ expense.AmountReimbursable / expense.Amount | percent }}
        </td>
        <td>
            <button class="btn btn-default" (click)="selectedExpense = expense">Select Expense</button>
        </td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>{{ getTotal() | currency:"USD":true }}</th>
        <th>{{ getReimbursableTotal() | currency:"USD":true }}</th>
        <th>{{ getTotalReimbursablePercent() | percent }}</th>
    </tr>
    <hr>
    <div *ngIf="selectedExpense">
        <expense-detail-completed [expense]="selectedExpense" (expenseAmountChanged)="expenseAmountChanged($event)" (expenseApproved)="expenseApproved($event)"></expense-detail-completed>
    </div>
</table>



